.dark-primary-color {
  background: #1976D2; }

.default-primary-color {
  background: #2196F3; }

.light-primary-color {
  background: #BBDEFB; }

.text-primary-color {
  color: #FFFFFF; }

.accent-color {
  background: #607D8B; }

.primary-text-color {
  color: #212121; }

.secondary-text-color {
  color: #727272; }

.divider-color {
  border-color: #B6B6B6; }

body {
  background-color: #374046;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: underline; }

.number-with-label {
  text-align: center;
  padding: 0.5rem; }
  .number-with-label
.value {
    font-family: 'Patua One';
    font-size: 3rem; }

nav {
  background-color: #1976D2;
  color: #fff;
  text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 0 2rem;
  display: flex;
  height: 5rem;
  overflow: hidden; }
  nav > * {
    line-height: 5rem; }
  nav
h1 {
    flex: 2;
    margin: 0; }
    nav
h1 > * {
      vertical-align: middle; }
    nav
h1
.main {
      font-family: 'Patua One';
      font-size: 1.7rem; }
    nav
h1
.divisor {
      font-size: 2rem;
      font-weight: normal; }
    nav
h1
.subtitle {
      font-weight: normal;
      font-style: italic;
      font-size: 1rem; }
  nav
.buttons {
    text-align: right; }

.container {
  background-color: #fff;
  box-shadow: 0px 0px 30px 1px #000;
  max-width: 900px;
  width: 90%;
  margin: 0 auto; }

.error {
  background-color: #D32F2F;
  color: #fff;
  margin: 1rem 2rem 0;
  padding: 1rem;
  text-align: center; }

.stats {
  display: flex;
  padding: 1rem; }
  .stats > * {
    flex: 1;
    text-align: center; }
  .stats > * + * {
    border-left: 1px dashed #BBDEFB; }
  .stats
.value {
    color: #fff; }
  .stats
.label {
    color: #BBDEFB; }

.headers {
  display: flex; }
  .headers > * {
    flex: 1;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-style: italic;
    background-color: #bbb;
    color: #fff; }
    .headers > * + * {
      border-left: 1px solid #727272; }

.delay {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  color: #212121;
  text-align: center;
  flex-wrap: wrap; }
  .delay + .delay {
    border-top: 1px solid #ddd; }
  .delay > * {
    flex: 1; }
  .delay
.minutes
.label {
    color: #727272; }

form {
  padding: 2rem; }

.field {
  display: flex;
  margin-bottom: 1rem; }
  .field
label {
    flex: 1;
    text-align: right;
    padding: 0.5rem; }
  .field
input {
    flex: 1.5; }

input[type=submit] {
  width: 100%;
  background-color: #2196F3;
  color: #fff;
  border: none;
  padding: 1rem; }
