<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Esperómetro</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Patua+One|Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body>

<div class="container">

<nav>
    <h1>
        <a class="main" href="/">
            Esperómetro
        </a>

        <span class="subtitle">
            &mdash;
            Midiendo cuánto me llevo esperando
        </span>
    </h1>

    <div class="buttons">
        <a href="/add">
            Añadir retraso
        </a>
    </div>
</nav>



{% block content %}

{% endblock %}
</div>

</body>
</html>